*{
    font-family: Monaco, monospace;
    font-size: 18px;
    font-weight: lighter;
    box-sizing: border-box;
    background-color: rgb(79, 168, 168);
}

header {
    height: 20%;
}

h1,h2 {
    font-family: Andale Mono, monospace;
    font-weight: bolder;
    text-align: center; 
    color: #e192ec;
}

#nav-name {
    display:inline-flex;
    background-size: cover;
    width: 30%;
    padding: 0 15px;
    align-items: center;
    margin: 0 50px 15px -10px;
    background-color: #ffffff;
    box-shadow: 6px 4px #e192ec;
}

#nav-name h1 {
    font-size: 1.75rem;
    background-color: transparent;
    color:#0e91a5;
}

#nav-bar {
    width: 66%;
    float: right;
}

#nav-bar nav {
    display: flex;
    /* justify-content for adjusting spacing around main axis, align-items for secondary axis (in this case vertical)*/
    justify-content: space-around;
    align-items: center;
    list-style: none;
    font-size: large;
    text-decoration: none;
}

a {
    text-align: center;
    text-decoration: none;
    font-size: 2.5rem;
    color:#0e91a5;
}

#nav-bar nav a {
    text-align: center;
    text-decoration: none;
    font-size: 1.55rem;
    color:#b4c3ca;
    border: 2px solid #ffffff;
    padding: 10px;
    box-shadow: 6px 4px #e192ec;
}

#nav-bar nav a:hover{
    border: 2px solid #0e91a5;
    padding: 10px;
    box-shadow: 6px 4px #0e91a5;
    color:#ffffff;
}

.tile {
    padding: 5px;
}

.project-1 {
    float: left;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: auto;
    width: 75%;
    height: 250px;
    background-image: url("./images/project-1.jpg");
    background-size: cover;
    background-position: 25% 35%;
    background-repeat: no-repeat;
    opacity: 0.6;
}

.project-2 {
    float:right;
    display: flex;
    text-align: center; 
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 25%;
    height:750px;
    background-image: url("./images/project-2.jpg");
    background-size: cover;
    background-position: 10% 0;
    background-repeat: no-repeat;    
    opacity: 0.6;
}


.project-3 {
    float:left;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;  
    text-align: center;
    height: 750px;
    width: 25%;
    background-image: url("./images/project-3.jpg");
    background-size: cover;
    background-position: 10% 0;
    background-repeat: no-repeat;
    opacity: 0.6;
}

.profile{
    display: flex;
    flex-direction: column;
    align-items: safe center;
    overflow: auto;
    height: 500px;
    width: 50%;
    background-image: url("./images/profile.jpg");
    background-size: cover;
    background-position: 10% 55%;
    background-repeat: no-repeat;
    opacity: 0.6;
    margin-bottom: auto;
}

.profile a {
    color:#0e91a5;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #e192ec;
}

.profile h2 {
    color:#e192ec;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #0e91a5;
    background-color: transparent;
}

.project-4 {
    text-align: center; 
    display: flex;
    justify-content: space-around;
    align-items: safe center;
    overflow: auto;
    width: 75%;
    background-image: url("./images/project-4.jpg");
    background-size: cover;
    background-position: 10% 75%;
    background-repeat: no-repeat;    
    height: 250px;
    opacity: 0.6;
}

.project-1 a, .project-2 a, .project-3 a, .profile a, .project-4 a {
    background-color: transparent;
    text-align: center;
}

.project-1:hover, .project-2:hover,.project-3:hover,.profile:hover,.project-4:hover {
    opacity: .9;
}

#about-me {
    display: inline-flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

#about-me div{
    justify-content: center;
    display: flex;
    text-align: center;
    font-size: 175%;
    padding: 5px;
}

#about-me h1 {
    padding: 5px 10px;
    border-color: #ffffff;
    border-width: 2px 0 2px 0;
    border-style: solid;
}


p {
    width: 100%;
    text-align: center;
    font-size: 125%;
    color:#bcdaea;
}

@media screen and (max-width:1330px) {

    #nav-name {
        display:inline-flex;
        background-size: cover;
        width: 24%;
        padding: 0 15px;
        align-items: center;
        margin: 0 20px 10px -10px;
        background-color: #ffffff;
        box-shadow: 6px 4px #e192ec;
    }

    #nav-bar nav a {
        text-align: center;
        text-decoration: none;
        font-size: 1.25rem;
        color:#b4c3ca;
        border: 2px solid #ffffff;
        padding: 10px;
        box-shadow: 6px 4px #e192ec;
    }
    
}
